.main{
  border-style: solid;
  border-top-style: hidden;
  border-color:grey;
}
.logo {
  display: flex;
}
.logo-section {
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
}
.logoimg{
  height: 150px; 
  width: 150px;
}
.PC{
  margin: 3rem;
  font-size: 50px; 
  color: #fff;
}
.PC:first-child {
  margin-top: 30px;
}


.who {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .who:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
p{
  border-bottom-style:solid;
  border-color:grey;      
}
#header{
  padding:18px ;
  overflow: hidden;
}
.noticeboard{
  margin-top:0px;
}